<div class="bc-toolbar">
  <mat-toolbar>
    <div [ngClass]="isRegister === false ? 'toolbar' : 'register'">
      <div class="logo">
        <img class="image" src="../../../../assets/images/logo-v2.png" alt="" />
        <div class="menus" *ngIf="isRegister === false && isHome === false">
          @if(typeUser === "patient"){
          <div class="menu">
            <button
              mat-button
              class="button"
              color="primary"
              (click)="toRedirectPatients()">
              Consulta
            </button>
          </div>

          }@if(typeUser === "hospital"){
          <div class="menu">
            <button
              mat-button
              class="button"
              color="primary"
              (click)="toRedirectDoctors()">
              Medicos
            </button>
          </div>
          }
        </div>
      </div>
      <div class="profile" *ngIf="isRegister === false && isHome === false">
        <button class="button" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon material-icons-outlined"
            >account_circle</mat-icon
          >
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="profile()">
            <mat-icon class="icon material-icons-outlined"
              >account_circle</mat-icon
            >
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="icon material-icons-outlined">logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </div>
      <div class="profile" *ngIf="isRegister === false && isHome === true">
        <button class="button" mat-icon-button (click)="toRedirect()">
          <mat-icon class="icon material-icons-outlined"
            >account_circle</mat-icon
          >
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
