<h2 mat-dialog-title>Detalhes</h2>
<mat-dialog-content class="mat-typography content">
  <form [formGroup]="form" class="form">
    <div>
      <mat-form-field class="input input-readonly">
        <mat-label>Nome</mat-label>
        <input type="text" matInput [readonly]="true" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="input-second input-readonly">
        <mat-label>Especialidade</mat-label>
        <input
          type="text"
          matInput
          [readonly]="true"
          formControlName="specialty" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>

<bc-loading [loading]="loading"></bc-loading>
