.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .input {
      margin-bottom: 30px;
      margin-right: 30px;
      width: 300px;
    }
    .input-second {
      margin-bottom: 30px;
      width: 300px;
    }
    .hours {
      width: 100%;
      .input-hour {
        width: 100%;
      }
    }
  }
}

::ng-deep {
  .input-readonly {
    .mdc-text-field--filled:not(.mdc-text-field--disabled)
      .mdc-text-field__input {
      color: grey !important;
    }
  }
}
