<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.value" *ngFor="let column of columns">
    <div *ngIf="column.value !== 'actions'">
      <th mat-header-cell *matHeaderCellDef>{{ column.describe }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column.value] }}</td>
    </div>
    <div *ngIf="column.value === 'actions'">
      <th mat-header-cell *matHeaderCellDef>{{ column.describe }}</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="button"
          color="primary"
          (click)="valuesAction(element[column.value])">
          <mat-icon class="icon material-icons-outlined">{{
            element[column.value]?.name
          }}</mat-icon>
        </button>
      </td>
    </div>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
