::ng-deep {
  .mat-mdc-outlined-button {
    border-color: #026272 !important;
  }
  .mdc-snackbar__surface {
    background: #026272 !important;
  }
  .mat-mdc-snack-bar-container
    .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: white !important;
  }
}
